<div id="aboutContainer" class="hiddenElement">
    <div class="aboutWrapper">
        <div class="aboutContent">
            <div class="aboutContent">
                <div class="aboutContentBody">
                    <h3>About our client</h3>
                    <p>Tune Client. The best client.</p>
                </div>
            </div>
        </div>
    </div>
</div>