<div id="landingContainer">
    <div id="footerItemContainer">
        <div id="newsContainer">
            <!-- News articles are inserted programmatically -->
        </div>

        <div id="footerContainer">
            <div id="servers">
                <!-- Servers are inserted programmatically -->
            </div>

            <a id="btnLaunch" draggable="false" href="#"><button>LAUNCH</button></a>
        </div>
        <div id="updateContainer">

            <p id="newver"></p>
            <a style="display:none; margin-left: auto; margin-right: auto;" id="btnNewVer" draggable="false"
                href="https://velbit.app/public/libraries/crystal_patch.zip"><button>DOWNLOAD UPDATE</button></a>
        </div>
    </div>
</div>