<div id="navigationBar">
    <img src="images/logo-1.png" id="brandLogo" draggable="false" alt="logo">
    <nav>
        <ul>
            <li><a id="btnHome" href="#" draggable="false">Home</a></li>
            <li><a id="btnSettings" href="#" draggable="false">Settings</a></li>
            <li><a id="btnAbout" href="#" draggable="false">About</a></li>
        </ul>
    </nav>
</div>